################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/SocketClient/FileContentIndex/11e19843-9270-44d7-8a4a-12abec63f3f6.vsidx
